.letter-grid {
    background-color: black;
}

.letter {
    background-color: black;
}

.letter GtkLabel {
    color: #ddd;
    font-size: 13px;
    font-weight: bold;
}

.letter:hover {
    background-color: #222222;
}

.letter:hover:active {
    background-color: white;
}

.letter:hover:active GtkLabel {
    color: black;
}
